@import 'src/styles/variables';
.filter-item-custom {
    display: flex;
    align-items: center;
    > img {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-right: 6px;
    }
}

.nft__table {
    font-family: $font-montserrat-regular;
    table-layout: auto;
    width: 100%;

    > thead {
        text-align: left;
        font-weight: 700px;
        color: $color-text-01;
        text-transform: uppercase;
        font-size: 12px;

        > th:first-child {
            padding-left: 1em;
        }
    }

    > tbody {
        font-size: 20px;
        color: $color-text-02;
        .notfound {
            width: 100%;
            font-weight: 700px;
            color: $color-text-01;
            text-align: center;
            font-size: 12px;
        }

        > tr {
            cursor: pointer;
            &:hover {
                box-shadow: none;
                background-color: rgba(229, 232, 235, 0.2);
            }
            > td:first-child {
                padding-left: 1em;
            }
            > td {
                padding: 1em 0;
            }
        }
    }

    > tbody:before {
        content: '@';
        display: block;
        line-height: 10px;
        text-indent: -99999px;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 4rem;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 7rem;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 15rem;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 10rem;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 5rem;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 8rem;
    }
}

.nft__image {
    width: 68px;
    height: 68px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid $color-border;
    > img {
        width: 100%;
        height: 100%;
    }
}
